@page "/ConsultaArticulos"
@using Parcial1_Ap2_Flores.Models
@using Parcial1_Ap2_Flores.BLL

@inject IToastService toast;
<div class="card">
    <div class="card-header">
        <h3>Consulta de articulos</h3>
    </div>

    <div class="card-body">
        @*Filtro*@
        <div class="form-group">
            <label>Filtro</label>
            <select @bind="filtro" class="form-control">
                <option value="0">Elija una opcion</option>
                <option value="1">Todo</option>
                <option value="2">ID</option>
                <option value="3">Descripcion</option>
            </select>
        </div>

        @*Criterio*@
        <div class="form-row align-items-center">
            <div class="col">
                <div class="form-group">
                    <label>Criterio</label>
                    <div class="input-group">
                        <input type="text" @bind="criterio" class="form-control col-14" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text" @onclick="Consultar">
                                <span class="oi oi-zoom-in"></span>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Tabla*@
        @if (ListaArticulos != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Existencia</th>
                        <th>Costo</th>
                        <th>Valor en inventario</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var articulo in ListaArticulos)
                    {
                        <tr>
                            <td>@articulo.ProductoId</td>
                            <td>@articulo.Descripcion</td>
                            <td>@articulo.Existencia</td>
                            <td>@articulo.Costo</td>
                            <td>@articulo.ValorInvetario</td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
            toast.ShowError("¡No hay articulos guardados!");

        <div class="card-footer">
            <div class="form-group text-right">
                <label>Total valor en inventario</label>
                <input type="text" @bind="totalInventario" readOnly />
            </div>
        </div>

    </div>

</div>

@code {
    List<Articulos> ListaArticulos = new List<Articulos>();

    private string filtro;
    private string criterio;
    private decimal totalInventario;

    private void Consultar()
    {
        int opcion = Convert.ToInt32(filtro);

        if (string.IsNullOrWhiteSpace(criterio))
        {
            ListaArticulos = ArticulosBLL.GetList(x => true);
            ActualizarTotal();
        }
        else
        {
            switch (opcion)
            {
                case 0:
                    toast.ShowError("¡Opcion incorrecta!");
                    break;
                case 1:
                    ListaArticulos = ArticulosBLL.GetList(x => true);
                    ActualizarTotal();
                    break;
                case 2:
                    int id = Convert.ToInt32(criterio);
                    ListaArticulos = ArticulosBLL.GetList(x => x.ProductoId == id);
                    ActualizarTotal();
                    break;
                case 3:
                    ListaArticulos = ArticulosBLL.GetList(x => x.Descripcion == criterio);
                    ActualizarTotal();
                    break;
            }
        }
    }

    private void ActualizarTotal()
    {
        this.totalInventario = 0;
        @foreach (var articulo in ListaArticulos)
        {
            totalInventario += articulo.ValorInvetario;
        }
    }
}
